.section {
  margin-top: 10rem;
  position: absolute;
  width: 100%;
  text-align: center;
}

.no-list__error {
  color: red;
  font-size: 2rem;
  transition: 0.3s;
  animation: msg-appear 1s ease-out forwards;
}

@keyframes msg-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
