.to-do-list {
  min-height: 20rem;
  margin: 1rem 2rem;
  border-radius: 25px;
  background-color: #5fd6f5;
  text-align: center;
  position: relative;
  animation: items-appear 1s ease-out forwards;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-wrap: break-word;
}

.to-do-list ul {
  list-style: none;
  text-align: left;
  padding: 1rem;
}

.to-do-list__header {
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 1rem;
}

.to-do-list h1 {
  padding-top: 0.2rem;
}

.btn-add__item {
  border: none;
  border-radius: 25px;
  width: 3rem;
  height: 3rem;
  background-color: inherit;
  margin-bottom: 1rem;
}

.btn-add__item img {
  width: 3rem;
  height: 3rem;
  position: relative;
  right: 6px;
  bottom: 1px;
}

.btn-remove {
  background-color: black;
  color: #fff;
  border: none;

  border-radius: 10px;
  transition: 0.3s;
}

.btn-remove:hover {
  background-color: #fff;
  color: black;
  transition: 0.4s;
}

.fade-out {
  animation: fadeOut ease 0.3s;
  -webkit-animation: fadeOut ease 0.3s;
  -moz-animation: fadeOut ease 0.3s;
  -o-animation: fadeOut ease 0.3s;
  -ms-animation: fadeOut ease 0.3s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes items-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
